body
{
  font-family: 'Gentium Book Basic', serif;
  font-size: 14px;
}

.navbar
{
  border-radius: 0;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 15px 0;
}

.navbar-right
{
  margin-right: 0;
}

.intro
{
  margin-top: 140px;
}

.intro h2
{
  font-size: 4rem;
}

.main
{
  max-width: 800px;
  margin: auto;
}

.title
{
  margin: 60px 0;
  font-style: italic;
  font-size: 6rem;
}

.cards
{
  margin-top: 50px;
}

.well
{
  height: 150px;

}

.cards .text-center,
.bio p
{
  font-size: 2rem;
  line-height: 3rem;
}
.bio h2
{
  font-size: 4rem;
}

.bio p
{
  line-height: 3.5rem;
  text-align: justify;
}

.footer
{
  background-color: #000;
  margin-top: 20px;
}

.credit
{
  color: #fff;
  padding: 20px 0;
}
